body {
  font-family: var(--bs-font-sans-serif);
  padding: 0 40px;
}

ul.menu {
  padding: 0;
  width: 100%;
  background-color: #0285c9;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

li.menu {
  display: inline;
  margin: 0 40px;
}

a.menu {
  text-decoration: none;
  text-align: center;
  line-height: 3;
  color: rgb(0, 0, 0);
}

a.menu:hover {
  color: white;
}

a.menu:active {
  color: rgb(199, 7, 7);
}

.contenido {
  margin-right: 30px;
  margin-bottom: 10px;
  height: 500px;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}

.contenido .imagenes {
  height: 100%;
  width: 100%;
}

.imagenes img {
  height: 100%;
  width: 100%;
  display: none;
}

.articulo {
  padding: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.listblog {
  padding: 0px;
  list-style: none;
}

.listblog .item {
  padding: 10px;
}

.listblog .item .cont {
  position: relative;
  overflow: hidden;
}

.listblog .item .cont .img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.listblog .item .cont .text {
  position: absolute;
  top: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.listblog .item .cont .text .txt {
  padding: 10px;
}

.listblog .item .cont:hover .text {
  top: 0%;
}

.item{
  flex-basis: 100%;
  max-width: 100%;
}

.col-sm-3 {
  flex-basis: 23%;
}

