.fondo {	
	display: flex;
	flex-direction: column;
	
	background-image: url(../image/fondoreg.jpg);
	background-size: cover;
	height: 750px;	
}
.logo {
	background-color: white;
	
	width: 100%;
}
.logo img{

	margin: 10px;
	height: 70px;
}	

.cabecera {
	width: 500px;
	height: 50px;
	color: red;
	border: 5px ;
	text-align: center;
	font-family: Arial;
	color: #9bec5b;
}
.formulario {
	background-color: transparent;
	color: #00bfff;
	text-align: left;
	width: 300px;
	height: 380px;
	border: 5px;
	padding-left: 95px;	
}
.formulario a {
	border: 2px;
	border-radius: 5px;
	background-color: lightgreen;
	font-size: 20px;
	text-decoration: none;
}
